<ion-header>
  <ion-toolbar>
    <ion-title>cards</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu = "main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
      <ion-badge color="danger"></ion-badge>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>

  

    <ion-segment color="danger" scrollable value="map">
      <ion-segment-button value="favorite" layout="icon-end">
        <ion-icon name="heart"></ion-icon>
      </ion-segment-button>
     
    </ion-segment>

    <ion-segment color="warning" scrollable value="call">

      <ion-segment-button value="call" layout="icon-start">
        <ion-label></ion-label>
        <ion-icon name="thumbs-up"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="favorite" layout="icon-start">
        <ion-label></ion-label>
        <ion-icon name="thumbs-down"></ion-icon>
      </ion-segment-button>

    </ion-segment>

   
  </ion-card>
</ion-content>
