<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Learn the Words
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu = "main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
 
  
  

  <ion-card >
    <ion-card-header>
      <ion-card-subtitle><p>Created by Ozcelik</p></ion-card-subtitle>
      
    </ion-card-header>
  
    <ion-card-content>
      <b style="color: darkslategray; font-size: large; text-align: center;">Birbirinden farklı düzeyde kelimelerle, kelime dağarcığınızı geliştirin. </b>
    </ion-card-content>
  </ion-card>
  
  <ion-card routerLink="/words" style="background-color: rgb(12, 72, 90); ">
    <ion-card-header style="text-align: center;">
      
      <ion-card-title ><b style="color: whitesmoke;">Kelime sayfasına git</b></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>
  

</ion-content>
